.sssFilterDeclarationHead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-weight: 700;
    font-family: Roboto;
    font-size: 1em;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem; 
}

.sssFilterDeclarationContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Roboto;
    font-size: 0.85em;
    font-weight: 300;
    padding-left: 0.5rem;
    margin-bottom: 1rem; 
}

.sssFilterDividor {
    height: 0.05em;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: -0.5rem;
    margin-right: -0.4rem;
    margin-bottom: 0.7rem; 
}

.sssMainDiv {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.sssTablePaper {
    margin-top: 1rem;
}

.cellAnchor {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0.15rem solid transparent;
    text-decoration: none;
}

.cellAnchor:hover {
    border: 0.05rem solid rgb(63, 81, 181);
    padding-left: 0.2rem;
}

.acceptedTeamsTable {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sssAcceptedDiv {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    width: 100%;
}